.episodeCard {
  display: flex;
  border-bottom: 1px solid darkgray;
  padding-bottom: 10px;
  margin: 19px 0px;
}

@media (max-width: 480px) {
  .episodeCardImg {
    display: none;
  }
}

.episodeCardImg {
  width: 8vw;
  height: 8vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
}
.episodeCardDetails {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.episodeCardName h4 {
  font-weight: 500;
  margin: 5px 0;
  margin-top: 0;
}
.episodeCardAudio audio {
  height: 40px;
}