.podcastviewcontainer {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(234, 238, 243, 1);
}
.podcastviewimg {
  max-height: 20vw;
  padding: 8vw 10vw;
  margin-right: 1rem;
  background-color: darkgray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.podcastviewmain {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem;
}
.podcastviewepisodeslist {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media(max-width: 480px) {
  .podcastviewmain {
    flex-direction: column;
    width: 100%;
  }

  .podcastviewimg {
    padding: 20vw 10vw;
  }
}